<div class="container">
    <button class="btn" routerLink="/save" routerLinkActive="active">Save</button> &nbsp; &nbsp;
    <button class="btn" routerLink="/update" routerLinkActive="active">Update</button> &nbsp; &nbsp;
    <button class="btn" routerLink="/delete" routerLinkActive="active">Delete</button> &nbsp; &nbsp;
    <button class="btn" routerLink="/find" routerLinkActive="active">Find</button> &nbsp; &nbsp;
    <button class="btn" routerLink="/findall" routerLinkActive="active">Find All</button> &nbsp; &nbsp;
    <button class="btn" routerLink="/all" routerLinkActive="active">lIST OF STUDENT</button>

</div>
<router-outlet></router-outlet>